body{
    background-color: rgb(9, 181, 55);
  }
  h1{
    color: black;
    text-align: center;
  }
  h2{
    text-align: center;
  }

header{
  width: 100%;
  background-color: brown;
}

.logo{
  text-align: center;
  color: black;
  font-size: 1.5em;
}

nav{
  text-align: center;
  color: black;
  font-size: 1.5em;
}

.banner{
  width: 100%;
  height: 20%;
}

.container{
  background-color: yellow;
  width: 80%;
  margin: auto;
}

footer{
  background-color: red;
  width: 100%;
}