body{
  background-color: #F29A2E;
}

a{
  text-decoration: none;
  color: #000;
}
  
h1{
  font-size: 1.5em;
  padding-bottom: 3%;
  text-align: center;
}

header{
  width: 100%;
  background-color: #F27830;
}

.logo{
  text-align: center;
  color: black;
  font-size: 1.5em;
}

nav{
  text-align: center;
  color: black;
  font-size: 1.5em;
}

.banner{
  width: 50%;
}

.container{
  font-size: 1.2em;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}

.tamagotchiimg{
  width: 38.9%;
}

.vpetimg{
  width: 40%;
}

.origem{
  padding-bottom: 5%;
}

footer{
  padding: 1%;
  text-align: center;
  background-color: #F27830;
}